.text-center{
    text-align: center;
    color: #fff;
}

.bg-red{
    background: #000;
    box-shadow:  24px 24px 30px #513431,
    -24px -24px 30px #513431;
}
.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.item-center{
    align-items: center;
}